@using WSC_E_Commerce_Website.Controllers
@using WSC_E_Commerce_Website.CustomHtmlHelpers
@using WSC_E_Commerce_Website.Models
@model WSC_E_Commerce_Website.Models.ProductCatalog
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Printing &amp; Engraving</h1>
    <p class="lead">Request custom printing on clothing items and custom engraving on plaques and trophies.</p>
    <p>
        <a class="btn btn-primary btn-lg" @Html.ActionLink("View Our Catalog", "CatalogList", "ProductCatalog")&raquo; > </a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Clothing</h2>
        <p>View our collection of popular clothing items.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Clothing Collection","SortByMediaType","ProductCatalog", new {id = 1}, null) &raquo;></a></p>
        <p>@Html.Image("~/Content/Images/CatalogProducts/BlackShirt.jpg", "Blank black Shirt")</p>
    </div>
    <div class="col-md-4">
        <h2>Plaques</h2>
        <p>See our selection of plaques.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Plaque Collection", "SortByMediaType","ProductCatalog", new {id = 2}, null) &raquo;></a></p>
        <p>@Html.Image("~/Content/Images/CatalogProducts/GroupPlaque.jpg", "Blank Group Plaque")</p>
    </div>
    <div class="col-md-4">
        <h2>Trophies</h2>
        <p>See our selection of trophies.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Trophy Collection", "SortByMediaType", "ProductCatalog", new {id = 3}, null) &raquo;></a></p>
        <p>@Html.Image("~/Content/Images/CatalogProducts/BronzeTrophy.jpg", "Blank Bronze Trophy")</p>
    </div>
</div>
