@using WSC_E_Commerce_Website.Models

@{
    if (User.IsInRole(SecurityRoles.Admin))
    {
        ViewBag.Title = "Welcome Admin";
    }
    else if (User.IsInRole(SecurityRoles.OperationsManager))
    {
        ViewBag.Title = "Welcome Operations Manager";
    }
    else if (User.IsInRole(SecurityRoles.SalesClerk))
    {
        ViewBag.Title = "Welcome Sales Clerk";
    }


}

<h2>@ViewBag.Title.</h2>

    
        @if (User.IsInRole(SecurityRoles.Admin))
        {
            <p>
                @Html.ActionLink("Staff Users", "Index", "UserAdmin")
            </p>
            <p>
                @Html.ActionLink("User Permissions", "Index", "RolesAdmin")
            </p>
            <p>
                @Html.ActionLink("Catalog","Index","ProductCatalog")
            </p>
            <p>
                @Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")
            </p>
            <p>
                @Html.ActionLink("Purchase Order Status", "Index", "PurchaseOrderStatus")
            </p>

        }
        else if (User.IsInRole(SecurityRoles.OperationsManager))
        {
            <p>
                @Html.ActionLink("Catalog", "Index", "ProductCatalog")
            </p>
            <p>
                @Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")
            </p>
            <p>
                @Html.ActionLink("Purchase Order Status", "Index", "PurchaseOrderStatus")
            </p>
        }
        else if (User.IsInRole(SecurityRoles.SalesClerk))
        {
            <p>
                @Html.ActionLink("Purchase Orders", "Index", "PurchaseOrders")
            </p>
            <p>
                @Html.ActionLink("Purchase Order Status", "Index", "PurchaseOrderStatus")
            </p>
        }
        




