@model IEnumerable<WSC_E_Commerce_Website.Models.MediaTypes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MediaTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MediaTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MediaTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MediaTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MediaTypeID })
        </td>
    </tr>
}

</table>
