@model WSC_E_Commerce_Website.Models.Billing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrders.PurchaseOrdersID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrders.PurchaseOrdersID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingPaiddueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingPaiddueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
