@using WSC_E_Commerce_Website.CustomHtmlHelpers
@model IEnumerable<WSC_E_Commerce_Website.Models.ProductCatalog>

@{
    ViewBag.Title = "Catalog";
}

@*<h2>SortByMediaTypeTrophy</h2>*@
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobType.JobTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaType.MediaTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobType.JobTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaType.MediaTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockAvailable)
            </td>
            <td>
                @Html.Image(item.ProductImage, item.Description)
            </td>
            <td>               
                @Html.ActionLink("Details", "ProductDetail", new {id = item.ProductCatalogID}) |     
                @*@Html.Action("Add To Cart","","")*@
            </td>
        </tr>
    }

</table>