@model WSC_E_Commerce_Website.Models.OrderRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductCatalog.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCatalog.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrders.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrders.ApplicationUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderRequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
