@model IEnumerable<WSC_E_Commerce_Website.Models.OrderRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCatalog.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrders.PurchaseOrdersID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCatalog.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrders.PurchaseOrdersID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderRequestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderRequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderRequestID })
        </td>
    </tr>
}

</table>
