@*@model IEnumerable<WSC_E_Commerce_Website.Models.ApplicationUser>*@
@*@using WSC_E_Commerce_Website.ViewModels*@
@model IEnumerable<WSC_E_Commerce_Website.ViewModels.ListUsersWithRolesViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          @*  @Html.DisplayNameFor(model => model.Userid)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roles)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
              @*  @Html.DisplayNameFor(modelItem => Model.Userid)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.roles)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = Model.Userid}) |
                @Html.ActionLink("Details", "Details", new { id = Model.Userid }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.Userid })
            </td>
        </tr>
    }

</table>
