@using Microsoft.AspNet.Identity
@using WSC_E_Commerce_Website.ViewModels
@model WSC_E_Commerce_Website.ViewModels.GroupedUserViewModel
@{
    ViewBag.Title = "User Management Controls";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <h4>Users</h4>
</div>

<table class="table">
    <caption class="tableCaption"> Operation Managers Users</caption>
    <tr>
        <th>
            @Html.Label("User ID")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("Username")
        </th>
        <th>
            @Html.Label("Role Name")
        </th>
    </tr>
    
    @foreach (var staff in Model.OperationsManager)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => staff.UserId)<br/>
            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.Email)
            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.Username)

            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.RoleName)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = staff.UserId}) |
                @Html.ActionLink("Details", "Details", new {id = staff.UserId}) |
                @Html.ActionLink("Delete", "Delete", new {id = staff.UserId})
            </td>
        </tr>
    }
</table>
<br/>
<table class="table">
    <caption class="tableCaption"> Admin Users</caption>
    <tr>
        <th>
            @Html.Label("User ID")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("Username")
        </th>
        <th>
            @Html.Label("Role Name")
        </th>
    </tr>

    @foreach (var staff in Model.Admin)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => staff.UserId)<br />
            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.Email)
            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.Username)

            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.RoleName)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = staff.UserId }) |
                @Html.ActionLink("Details", "Details", new { id = staff.UserId }) |
                @Html.ActionLink("Delete", "Delete", new { id = staff.UserId })
            </td>
        </tr>
    }
</table>
<br/>
<table class="table">
    <caption class="tableCaption">Sales Clerk Users</caption>
    <tr>
        <th>
            @Html.Label("User ID")
        </th>
        <th>
            @Html.Label("Email")
        </th>
        <th>
            @Html.Label("Username")
        </th>
        <th>
            @Html.Label("Role Name")
        </th>
    </tr>

    @foreach (var staff in Model.SaleClerk)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => staff.UserId)<br/>
            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.Email)
            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.Username)

            </td>
            <td>

                @Html.DisplayFor(modelItem => staff.RoleName)

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = staff.UserId}) |
                @Html.ActionLink("Details", "Details", new {id = staff.UserId}) |
                @Html.ActionLink("Delete", "Delete", new {id = staff.UserId})
            </td>
        </tr>
    }
</table>