@model WSC_E_Commerce_Website.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    <em>Review</em> your cart:
</h3>
<p class="button">
    @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
           Product Number
        </th>
        <th>
            Price (each)
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.PurchaseOrdersID">
            <td>
                @Html.ActionLink(item.ProductCatalog.SkewNumber.ToString(), "ProductDetail", "ProductCatalog", new{ id = item.ProductCatalogID}, null)
            </td>
            <td>
                @item.ProductCatalog.Price
            </td>
            <td id="item-count-@item.PurchaseOrdersID">
                @item.Count             
            </td>
            <td>
                <a href="#" class="RemoveLink" data-id="@item.PurchaseOrdersID">
                    Remove from
                    cart
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td>@Html.ActionLink("Back to Shopping", "CatalogList", "ProductCatalog")</td>    
    </tr>
</table>